Package            Version
------------------ -----------
argcomplete        3.6.2
asgiref            3.8.1
attrs              20.3.0
autocommand        2.2.2
Brlapi             0.8.6
certifi            2025.7.9
cffi               1.17.1
charset-normalizer 3.4.2
cryptography       45.0.5
dbus-python        1.4.0
defusedxml         0.7.1
Django             5.1.11
docopt             0.6.2
filelock           3.18.0
gps                3.26.1
i3ipc              2.2.1
idna               3.10
jaraco.collections 5.1.0
jaraco.context     6.0.1
jaraco.functools   4.1.0
jaraco.text        4.0.0
jellyfish          0.11.2
keyutils           0.6
lib50              3.0.12
louis              3.34.0
Mako               1.3.10.dev0
Markdown           3.8.2
MarkupSafe         3.0.2
meson              1.8.2
more-itertools     10.7.0
netsnmp-python     1.0a1
nwg-displays       0.3.25
OpenTimelineIO     0.17.0
packaging          25.0
pexpect            4.9.0
pip                25.1.1
platformdirs       4.3.6
psutil             7.0.0
ptyprocess         0.7.0
pwquality          1.4.5
pyaaf2             1.7.1
pycairo            1.28.0
pycparser          2.22
PyGObject          3.52.3
python-xlib        0.33
pytz               2025.2
pyxdg              0.28
PyYAML             6.0.2
requests           2.32.4
setproctitle       1.3.5
setuptools         80.9.0
six                1.17.0
sqlparse           0.5.1
submit50           3.2.0
termcolor          1.1.0
tqdm               4.67.1
udiskie            2.5.7
urllib3            2.5.0
wheel              0.45.1
